<div class="iwnav-content-wrap-outer">
  <div class="iwnav-ad-skyscraper-aware">
    <footer class="iwnav-content-wrap-inner iwnav-linklist-group">
      <div class="iwnav-aviv-group">
        <br>

        <div class="hk-presse">
            <div class="container">
                <h2 class="text-center">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">footer component html   !</font>
                  </font>
                </h2>
                <div class="hk-presse-ref">&nbsp;</div>
            </div>
        </div>



        <div class="hk-infopaket">

          <div class="container">

              <div class="col-md-6">
                <h2>
                  <p class="text-center m0-3">
                       <font class="text-center m0-3" >Find out now personally</font>
                  </p>
                </h2>
          <p class="text-center mb-0 mt-4">
                <img alt="phone" src="https://d33wubrfki0l68.cloudfront.net/433115ebc1381abf09a28b57879a5bf12fa67fde/0463f/assets/icons/phone-black.svg">
                    <font style="vertical-align: inherit;">049 1525 963 7700</font>
                    <img alt="E-mail" src="https://d33wubrfki0l68.cloudfront.net/b9a17ce22660ebf5fa4dc0970ccc8266678a08aa/daeb1/assets/icons/mail-black.svg">

          </p>

          <p class="text-center m0-3">
            <a href="mmb2020max@gmail.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mmb2020max@gmail.com</font>
            </font></a>
          </p>
          <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Apply now for your personal offer or request an information package.</font>
          </font></p>
            <div class="cta text-center">
            <a class="btn btn-lg btn-outline-secondary" href="/infopaket/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Request information package</font>
            </font></a>
          <a class="btn btn-lg btn-primary" href="/signup/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">get offer</font>
          </font></a>
          </div>
          </div>
          </div>
          </div>
          </div>

        <a  target = "_blank" class="px-5"> <img src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-aviv-group.png" alt="Profile Image" class="profile"></a>
        <a  target = "_blank" class="px-5"> <img src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-immowelt.svg" alt="Profile Image" class="profile"></a>
        <a  target = "_blank" class="px-5"> <img alt="Immoweb" src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-immoweb.svg" title="Immoweb"></a>
        <a  target = "_blank" class="px-5"> <img src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-planetly.png" title="Planetly"></a>
        <a  target = "_blank" class="px-5"> <img alt="Groupe SeLoger" src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-seloger.svg" title="Groupe SeLoger"></a>

        <a  target = "_blank" class="px-5"> <img alt="yad2" src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-yad2.png"alt="Profile Image" class="profile"></a>
        <a  target = "_blank" class="px-5"> <img alt="Groupe SeLoger" src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-seloger.svg" title="Groupe SeLoger"></a>
        <a  target = "_blank" class="px-5"> <a href="https://www.immoweb.be/en?utm_source=immowelt.de&amp;utm_medium=referral&amp;utm_campaign=footer" rel="nofollow"><img alt="Immoweb" src="https://cdnglobal.immowelt.org/iw-navigation-ui/a7d41f4bbde0bb26d3d71b51aaf41e7cacac17af/images/logo-immoweb.svg" title="Immoweb"></a>


        </a>




      <div class="md-3 my-2 py-2 bordert">
        <div class="text-center py-10">


            <a href="https://wwww.google.com" target = "_blank" class="px-2"> <img src="../../assets/images/google.png" alt="Profile Image" class="profile" ></a>
            <a href="https://wwww.github.com" target = "_blank" class="px-2"> <img src="../../assets/images/github.png" alt="Profile Image" class="profile" ></a>
            <a href="https://wwww.linkedin.com" target = "_blank" class="px-2"> <img src="../../assets/images/linkedin.png" alt="Profile Image" class="profile" ></a>

        </div>
      </div>

      <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> COPYRIGHT  BY   Angular.NET   </font>
    </font>


    </footer>

  </div>
</div>



