
<div class="hk-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <div class="box-blur"><h1><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">The partial sale of your property - with home capital</font>
                </font></h1><p><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                    <font style="vertical-align: inherit;">Why not simply use the assets that are </font>
                </font>
                <br>
            </div>
        </div>
    </div>
</div>





<div class="hk-founders">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="hk-founder">
                        <img alt="Dimitri Miller" class="hk-person-portrait" src="https://d33wubrfki0l68.cloudfront.net/c6626973e19ec0e358b6fc1a40020e52929bd0d3/93efa/assets/dimitrij-miller.jpeg">
                                <h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Mojtaba Jokar</font>
                                    </font>
                                </h3>
                                <p class="hk-founders-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">chief Executive Officer</font>
                                    </font>
                                </p>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Many years of experience in the  at Deutsche Bank.</font>
                                    </font>
                                </p>
                </div>
            </div>
                <div class="col-md-4">
                    <div class="hk-founder">
                        <img alt="Julia Schabert" class="hk-person-portrait" src="https://d33wubrfki0l68.cloudfront.net/9ea829d20936252caf4d2358c11fd2c8f8dc508b/f8213/assets/julia-schabert.jpeg">
                            <h3>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Rose Jokar</font>
                                </font>
                                </h3>
                                <p class="hk-founders-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Manager</font>
                                    </font>
                                </p>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">In-depth knowledge  real estate sectors, including at Goldman Sachs and Deutsche Bank.</font>
                                    </font>
                                </p>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="hk-founder">
                    <img alt="Benedict Wenninger" class="hk-person-portrait" src="https://d33wubrfki0l68.cloudfront.net/ddeccae6cd749261776b4a8076e9ad3b344e42cb/5c1df/assets/benedikt-wenninger.jpeg">
                        <h3>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Filip Jokar</font>
                            </font>
                        </h3>
                            <p class="hk-founders-title"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">chief Executive Officer</font>
                                    </font>
                                         </p>
                                            <p>
                                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gamer</font>
                                </font>
















                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




