


<section>
    <div class="container">
        <h1 class="htitle">Home:</h1>
        <h2 class="mtext">hello how are you ?</h2>
        <h2>hello how are you ?hello how are you ?hello how are you.</h2>
        <h2 class="mtext">hello how are you ?hello how are you ?hello how are you ?hello how are you .</h2>
        <h2>helloooooooOOOOOOOOO.</h2>
        <div class="error-page__bg-img" style="background-image: url(&quot;https://smartdesign.immowelt.org/core/6.0.0/assets/error-page/animated-error.svg&quot;);"></div>

    </div>
</section>





