.error-page__bg-img {
    width: 100%;
    height: 29.5rem;
    background-repeat: no-repeat;
    background-position: center bottom -1.25rem;
}

.htitle {
    color:chartreuse;
    height: 10px;
    font-size: 4rem;
    margin-bottom: 2cm;
}

.mtext{
    font-size: 1rem;

}